/* Landing Page CSS*/
.call{
    margin-left: 50%;
    font-family: 'Avenir Next LT Pro', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 4vw;
    line-height: 0;
    color: #36393B;
    margin-top:6%;

}
.call2{
    margin-left: 0.5%;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15vw;
    line-height: 16vw;
    color: rgba(255, 255, 255, 0.66);
    position: absolute;
    z-index: 1;
}
.call3{
    margin-left: 17%;
    font-family: 'Avenir Next LT Pro', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 4vw;
    color: #36393B;
    margin-top: 18%;
}
.logo{
    margin-left: 6%;
    position: relative;
    z-index: 2;
    width: 20%;
}
.box1{
    margin-bottom: 18%;
}
.box2{
    margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
    .call3{
        margin-top: 25%;
    }
    .BottomName{
        padding-left: 60%;
    }
}
@media only screen and (max-width: 480px) {
    .call3{
        margin-top: 30%;
    }.BottomName{
         padding-left: 40%;
     }

}
