/* Portfolio page CSS*/
.logo1{
    margin-left: 6%;
    position: absolute;
    z-index: 2;
    width:16%;
}
.project{
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20vw;
    color: rgba(255, 255, 255, 0.66);
    position: fixed;
    z-index: 1;
    line-height: 20vw;
}
.project2{
    margin-left: 11%;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20vw;
    color: rgba(255, 255, 255, 0.66);
    position: fixed;
    z-index: 1;
    line-height: 20vw;
}
.project1{
    margin-left: 13%;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20vw;
    color: rgba(255, 255, 255, 0.66);
    position: fixed;
    z-index: 1;
    line-height: 20vw;
}
.container{
    width: 100%;
    display: flex;
    margin-top: 7%;

}
.card1{
    z-index: 1;
    margin-bottom: 1%;
    margin-right: 6.5%;
    cursor: pointer;
    width: 29%;
    text-decoration: none;
}
.card2{
    z-index: 1;
    margin-bottom: 1%;
    cursor: pointer;
    width: 29%;
    text-decoration: none;
}
.card3{
    z-index: 1;
    margin-bottom: 1%;
    margin-left: 6.5%;
    cursor: pointer;
    width: 29%;
    text-decoration: none;
}
.portbox1{
    width: 100%;
    margin-bottom: 1%;
    z-index: 2;
    background: rgba(54, 57, 59, 0.33);
    border-radius: 3vw;
    height: 100%;

}
.portbox12{
    background: rgba(54, 57, 59, 0.33);
    border-radius: 3vw;
    width: 100%;
    z-index: 2;
    margin-bottom: 1%;
    height: 100%;

}
.portbox13{
    background: rgba(54, 57, 59, 0.33);
    border-radius: 3vw;
    width: 100%;
    z-index: 2;
    margin-bottom: 1%;
    height: 100%;
}
.portbox2{
    font-family: 'Merriweather', serif;
    padding-top: 1%;
    padding-bottom: 1%;
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    line-height: 8.3vw;
    background-color: rgba(196, 151, 153, 0.5);;
    border-radius: 3vw;
    color: #36393B;
    text-align: center;
}
.displayimg{
    width:80%;
    padding-left: 10%;
}
.portboxtext{
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2vw;
    line-height: 3vw;
    color: #000000;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}
.text{
    opacity: 0;
    position:absolute;
    width: 20%;
    padding-top:  20%;
    padding-left: 10%;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3.5vw;
    line-height: 4.5vw;
    z-index: 1;

}
.card1:hover .portbox1{
    filter: blur(.1vw);
    filter: brightness(30%);
}
.card2:hover .portbox12{
    filter: blur(.1vw);
    filter: brightness(30%);
}
.card3:hover .portbox13{
    filter: blur(.1vw);
    filter: brightness(30%);
}
.card1:hover .text{
    opacity: 1;
    color: #F5F5F5;
}
.card2:hover .text{
    opacity: 1;
    color: #F5F5F5;
}
.card3:hover .text{
    opacity: 1;
    color: #F5F5F5;
}

@media only screen and (max-width: 700px){
    .container{
        flex-direction: column;
        margin-top: 15%;
    }
    .displayimg{
        width: 40%;
    }

    .card1{
        width: 100%;
        margin-left: 0;
    }
    .card2{
        width: 100%;
        margin-left: 0;
    }
    .card3{
        width: 100%;
        margin-left: 0;
    }
    .portbox1{
        display: flex;
        flex-direction: row;
    }
    .portbox12{
        display: flex;
        flex-direction: row;
    }
    .portbox13{
        display: flex;
        flex-direction: row;
    }
    .portboxtext{
        width: 56%;
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 2%;
        margin-left: 0;
        margin-right: 0;
        font-size: 4vw;
    }
    .portbox2{
        width: 10%;
        word-wrap: break-word;
    }
}
@media only screen and (max-width: 500px) {
    .displayimg{
        width: 0;
    }
    .portbox2{
        width:15%;
        font-size: 7vw;
    }
    .portboxtext{
        width: 80%;
        font-size: 4.5vw;
    }
}