.logo1{
    margin-left: 6%;
    position: absolute;
    z-index: 2;
    width:16%;
}
.Drop{
    margin-top: 6%;
    background-color: rgba(134, 4, 170);
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    width: 100%;
    border-radius: 3vw;
}

.DropSection{
    background-color: rgba(134, 4, 170);
    position: relative;
    display: inline-block;
    z-index: 100;
    width: 18%;
    border: none;
    border-radius: 3vw;
    font-size: 2vw;
    height: 40%;
}
.Dropbutton{
    background-color: rgba(134, 4, 170);
    color: white;
    padding: 1.5vw;
    font-size: 1.5vw;
    border: none;
    border-radius: 3vw;
    font-family: fantasy;
    z-index: 100;
    width: 100%;
}
.Dropbutton1 {
    background: rgba(175, 208, 214);
    color: white;
    padding: 1.5vw;
    font-size: 0.69vw;
    border: none;
    border-radius: 3vw;
    display: none;
    z-index: 100;
    width: 91%;
    position:fixed;
    left: 4%;
    overflow: auto;
}
.DropSection:hover .Dropbutton1{
    display: block;}

a:visited{
    text-decoration: none;
    color: white;
}
a{
    text-decoration: none;
    color: #C49799;
}

.BoxLong2About{
    margin-top: 25%;
    width: 100%;
    height: 7vw;
    background: rgba(191, 182, 187, 0.33);
    border-radius: 3vw;
    z-index: 0;
}

.project_topbox{
    width: 100%;
    height: 10%;
    font-size: 2vw;
    color: #36393B;
    display: flex;
}
.project_img{
    width: 33%;
}
.img_fit{
    width: 100%;
}
.project_text{
    padding: 1%;
    width: 66%;
}
.project_bottombox{
    width: 100%;
    height: 5%;
    font-size: 1.5vw;
    color: #36393B;
}

.backdrop{
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20vw;
    color: rgba(255, 255, 255, 0.66);
    position: fixed;
    z-index: 1;
    line-height: 50vw;

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 480px) {
    .Drop{
        display: flex;
        flex-direction: column;
        width: 20%;
    }

    .DropSection{
        width: 100%;
        padding: 25% 5% 25% 5%;
    }

    .Dropbutton{
        width: 100%;
        height: 100%;
    }

    .Dropbutton1 {
        left: 25%;
        top: 10%;
        width: 75%;
        height: 50%;
        font-size: 2vw;
        display: none;
    }
    .project{
        padding-left: 25%;
        padding-top: 20%;
    }
    .DropSection:hover .Dropbutton1{
        display: flex;
        flex-direction: column  }

    .project_topbox{
        width: 100%;
        height: 50%;
    }
}